* {
    text-align: center;
    padding: 0;
}

.header {
    

    &__links {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        font-size: 28px;
    }
}
.head {
    text-decoration: none;
    color: inherit;
}
