* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.header {    
    height: 40px;
    margin-bottom: 10px;
    &__links {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        font-size: 28px;
        

    }
}
.head {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}