@import "./app.scss";

.cart {
    &__title {
        text-align: center;
    }

    &__btn {
        padding: 15px;
        border: none;
        border-radius: 12px;
        background: rgb(22, 22, 23);
        font-weight: 600;
        color: #fff;
        position: relative;
        left: 79%;
        top: 10px;
    }
    * {
        text-align: center;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
    padding: 20px;

    &__item {
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
    }

    .item__name {
        font-weight: 700;
        margin-bottom: 20px;
    }

    .item__description {
        margin-bottom: 20px;
    }

    .item__image {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    .item__price {
        margin-bottom: 20px;
        display: flex;
        gap: 12px;
        justify-content: center;

        span {
            color: rgb(182, 27, 27);
            font-weight: 700;
        }
    }
    .btn-info {
        color: aqua;
        font-size: 10px;
    }

    .item__remove-btn {
        padding: 15px;
        border: none;
        border-radius: 12px;
        background: rgb(47, 47, 203);
        font-weight: 600;
        color: #fff;
    }
}
