@import "./app.scss";

.catalog{

    * {
        text-align: center;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
    padding: 20px;

    &__item {
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
    }

    .item {
        &__name {
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__description {
            margin-bottom: 20px;
        }

        &__image {
            height: 300px;
            width: 100%;
            object-fit: cover;
        }

        &__prices {
            margin-bottom: 20px;
            display: flex;
            gap: 12px;
            justify-content: center;

            span {
                color: rgb(182, 27, 27);
                font-weight: 700;
            }
        }

        &__btn {
            padding: 15px;
            border: none;
            border-radius: 12px;
            background: rgb(47, 47, 203);
            font-weight: 600;
            color: #fff;
        }
    }
}
.assortiment__title{
    text-align: center;
}